<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-text">
        <strong>Hilbertools</strong>
      </span>
    </div>
  </nav>
<div>
    <label for="text-words">Adicione o texto no campo abaixo:</label>
    <br>
    <textarea id="field-counter" rows="22" cols="100" placeholder="Digite ou cole suas palavras aqui :)"
        name="quantityWordsOnField" [(ngModel)]="wordsOnField"></textarea>
    <app-quantity-words [receiveQtyWord]="arrayWithoutSpaces"></app-quantity-words>
    <button type="submit" class="btn btn-secondary" (click)="calculateQtyWords(); removeNumbersOfArray();">Clique para contar!</button>
</div>