<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-text">
      <strong>Contador de palavras</strong>
    </span>
  </div>
</nav>
<div>
  <div class="alert alert-danger d-none mt-2" role="alert" id="alerting" #alerting>
    Ops, digite no campo abaixo!
  </div>
  <textarea id="field-counter" id="animTransitionTextArea" [(ngModel)]="defaultValue" rows="22" cols="100"
    placeholder="Digite ou cole suas palavras aqui :)" name="quantityWordsOnField"
    [(ngModel)]="wordsOnField"></textarea>
  <app-quantity-words [receiveQtyWord]="allArray"></app-quantity-words>
  <button type="submit" class="btn btn-secondary counter-button" id="animTransitionButton"
    (click)="separateTypeQty();">Clique para
    contar! </button>
  <button type="submit" class="btn btn-link clear-button" id="animTransitionButton"
    (click)="clearTextArea()">Limpar</button>
</div>
