#animTransitionTextArea {
  color: rgb(22, 21, 21);
  font-size: 12px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1.5s forwards;
}

#animTransitionButton {
  font-size: 15px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(0%);
  animation: UpIn 1.8s forwards;
}

#animTransitionTitle {
  font-size: 15px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(0%);
  animation: DownIn 1.4s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes UpIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes DownIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 8px;
  max-width: 95%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 1px;
  padding-top: 5px;
  margin-right: 35%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif
}

nav {
  background: blue;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.counter-button {
  border: none;
  padding: 11px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.counter-button:hover {
  transition: 0.5s;
  color: black;
  background-color: rgb(5, 153, 42);
}

.clear-button {
  border: none;
  padding: 11px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}

.clear-button:hover {
  transition: 0.5s;
  color: white;
  background-color: rgb(237, 40, 40);
}

span {
  color: rgb(248, 248, 248);
}

#alerting {
  margin: 10px;
  padding: 5px
}
